#body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

a.nav-link{
    color: #603601;
    font-stretch: expanded;
    font-weight: bolder;
}

a.nav-link:hover{
    color:goldenrod;
}

#intro{
    padding-top: 5%;
    text-align: center;
    color: #603601;
}

#h1{
    font-weight: bolder;
    color: #603601;
}

#about{
    
    background-position: center;    
    color: #603601;
    padding-top:5%;
    padding-bottom: 5%;
    
    
}

.column{
    display: flex;
    justify-content:space-evenly
}

.card{
    width: 20rem;
    
}

#c1{
    background-color: #e02201;
    color: whitesmoke;
    
    border-top-left-radius: 50%;
}

#c2{
    background-color: #07a116;
    color: white;
    
    border-top-left-radius: 50%;
}

#c3{
    background-color: rgb(184, 135, 11);
    color: whitesmoke;
    
    border-top-left-radius: 48%;
}

#c4{
    width: 25rem;
    color: #412300;
    color: whitesmoke;
    background-color: transparent;
}

.achievements{
    display: flex;
    justify-content: space-evenly;
}
#impacts{
    text-align: left;
    background-color: rgb(226, 164, 6);
    height: 450px;
    padding-top: 3%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
footer{
    color: #603601;
    background-image: radial-gradient(darkgrey, black);

}