body{
    background-image: image('img_about.JPG');
}
footer{
    padding-top: 2%;
}
.column1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
   
}
#partners{
    padding-top: 3%;
}