#body{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a.nav-link{
    color: #1C0A00;
    font-weight: bolder;
    text-decoration: none;
}
a.nav-link:hover{
    color: #FF5B00;
}
#c1{
    background-color: #FF5B00;

}
#c2{
    background-color: #B20600;

}
#c3{
    background-color: olive;
}
#c4{
    background-color: #FF5B00;

}
#c5{
    background-color: #990000;
}
#c6{
    background-color: #D4D925;
}
#img{
    height: 150px;
    
   
  }
  .card-flip{
    background-color: transparent;
    width: 25rem;
    height: 15rem;
    
   
  } 
  .card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .card-flip:hover .card{
    transform:rotateY(180deg)
  }
  .front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .front{
   
    color: orange;
  }
  .back{
    font-size: larger;
    
   
    transform:rotateY(180deg);
  }
  .row{
    padding-top: 4%; 
    padding-bottom: 3%;  
  }
svg:hover{
    fill: yellow;
    color: #1C0A00;
  }
  h5{
      color: yellow;
  }
  a.foot-links{
      color: #1C0A00;
  }
  a.foot-links:hover{
      color: #FF5B00;
  }
  p.foot-p{
      font-weight: bold;
      display: flex;
  }
  .partners{
      display: flex;
      justify-content: space-evenly;
      padding-top: 3%;
  }
  footer{
      color: #1C0A00;
      background-color: #603501ce;
      padding-top: 3%;
  }